* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  nav {
    height: 95px;
    padding: 0px 39px;
    display: flex;
    background-color: whitesmoke;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  }
  
  .nav--pic {
   
    align-self: center;
    max-block-size: 60px;
    padding-right: 30px;
  }
  
  .title-logo {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: green;
    /* margin-left: 12px;
    margin-top: 22px;
    align-self: center; */
    
    
    
  }
  
  section {
    padding: 20px;
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    position: relative;
    z-index: -1;
    height: max-content;
  }
  
  .hero--img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    margin-left: 35px;
    border-radius: 9px;
  }
    
  
  
  .hero--imgContainer {
    width: 470px;
    height: 300px;
    margin-right: 20px;
    
    
  }
  
  .hero--list {
    display: flex;
    height: 520px;
  
    
    
    
  }
  
  .hero--info {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 20px;
    margin-left: 35px;
  }
  
  
  
  .hero--header {
    
    margin-bottom: 16px;
    margin-left: 37px;
  }
  
  .hero--text {
    margin-left: 37px;
  }
  
  .hero--title {
    font-size: 25px;
    margin-bottom: 8px;
  }
  
  .hero--activityTitle {
   
    
   margin-top: 50px;
   margin-left: 37px;
  }
  
  .hero--activityTitle--heading {
    margin-bottom: 10px;
  } 
  
  .hero--badge {
    position: absolute;
    top: 6px;
    left: 44px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
  }
  
  .price--bold {
    font-weight: bolder;
  }
  
  .card {
    width: 175px;
    font-size: 12px;
    margin-left: 50px;
    margin-right: 170px;
    margin-top: 33px;
  }
  .card--first {
    margin-left: -14px;
  }
  
  .card--img {
    width : 350px;
    height: 400px;
    border-radius: 9px;
  }
  
  
  .card--stats {
    
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  
  .card--ratingLogo {
    height: 14px;
  }
  
  .gray1 {
    color: #918E9B;
    font-size: 17px;
    
    
  }
  .gray2 {
    color: #918E9B;
    margin-left: 10px;
    
  }
  
  .bold-text {
    font-weight: bold;
  }
  
  .price {
    font-size: 15px;
  }
  
  .cardList {
    display: flex;
   
  }

  .nav-item-right {
    padding-left: 800px;
    
  }

  .nav-item-right2 {
    padding-left: 0px;
    
  }

 
 